.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  margin: 0 0.5rem 1rem 0.5rem;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: auto;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
