name: Deploy Docusaurus to GitHub Pages

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build website
        run: npm run build

      - name: Deploy to GitHub Pages
        env:
          GIT_USER: RizqullahY
        run: |
          git config --global user.name "RizqullahY"
          git config --global user.email "github-actions@github.com"
          npm run deploy